<%= simple_form_for(@position) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :career, prompt: "Escolha uma Categoria" %>
    <%= f.association :contract, prompt: "Escolha um Tipo de Contrato" %>
    <%= f.association :type_vacancy, prompt: "Escolha um Tipo de Vaga" %>
    <%= f.input :publish %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.text_area :summary, maxlength: 250, class: "text_summary" %>
    <div class="span_summary">
      <span id="current">0</span>
      <span id="maximum">/ 250</span>
    </div>
    <%= f.rich_text_area :description %>     
  </div>
  <div class="form-actions" style="text-align: center">
    <%= f.button :submit, class:"btn btn-success" %>
  </div>
<% end %>